{% extends 'base_temp.html' %}


{% block title %} Contact Me {% endblock %}


{% block content %} 

<div class=container3>  
    <hr>
    <div class="outlook">
        <font size="20">Contact Me: anjishpradhananga@outlook.com </font>
        <p><font size="5">+977 9861696089 </font></p>
    </div>
    <hr>
    <div>
       <font size="5"> Socials: </font> <br>
        <a href="https://www.instagram.com/anjish_awesome/" class="imglink"> <img src="{{ url_for('static', filename='/images/ig.png')}}"></a> <a href="https://www.facebook.com/anjishrocks/" class="imglink"><img src="{{ url_for('static', filename='/images/fb.png')}}"></a>


    </div>


</div>



{% endblock %}



