{% extends 'base_temp.html'%}


{% block title %} My Resume {% endblock %}


{% block content %} 

    <div class="wrapper">

        <div class="container4">
        <p style="border-top: 3px solid greenyellow; border-left: 3px solid greenyellow; padding: 2rem 2rem 2rem 3rem; position: relative;">
            <center> <font size="20"> Personal Profile&nbsp;<img src="{{ url_for('static', filename='/images/profile_i.png')}}"> </center></font><br><br>
            I am a diligent, enthusiastic and a forward-thinking individual who is ever curious and excited to learn and grow. Being full of youthfulness and energy, I am always keen on giving it my all in everything I do learning from every experience I have, however minute it may be, with a big, bright smile and an unfaltering positive attitude and spirit. 
            I have always been active at school, participating in an array of events and competitions and also withholding various important tasks and responsibilities.
        </p>
        </div>
        
        <div class="container5">
            <p>
                <font size="20"> <center> Achievements  </font> <img src="{{ url_for('static', filename='/images/achievements_i.png')}}" style="position: absolute;"></center><br>
                <ul>
                    <li>	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </li>
                    <li> 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </li>
                    <li> 	CLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</li>
                    <li> 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</li>
                    <li> 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</li>
                    <li> 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</li>
                    <li> 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</li>
                    <li> 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</li>
                    <li> 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</li>
                    <li> 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut (2018)</li>
                    <li> 	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</li>
                </ul>

            </p>
        </div>


        <div class="container6">
            
                <font size="20"><center> Education  </font> &nbsp; <img src="{{ url_for('static', filename='/images/education_i.png')}}" style="position: absolute;"> </center><br>
                <p>
                <div class="SEE">
                    <br> 
                    2008 –2018<br>
                    SEE ( H.S School) <br>
                    A*: 3.85/4.0
                </div>
                <div class="alevels"> 
                      
                    <br>
                    2019 –2021<br>
                    A-Levels (H.S School) <br>
                    A*: 3.85/4.0
                </div>
            </p>
        </div>

        







    </div>
{% endblock %}